@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Work Sans', sans-serif;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
b,
div {
  line-height: 1 !important;
}

.titulo {
  font-weight: 800 !important;
}

body {
  line-height: 1;
  overflow-x: hidden !important;
}



@layer components {
  .btn-primary {
    @apply bg-primary-light hover:bg-primary-dark text-white font-medium px-6 py-3 rounded-lg transition-all duration-300 transform hover:scale-105;
  }

  .btn-secondary {
    @apply bg-primary-dark hover:bg-primary-light text-white font-medium px-6 py-3 rounded-lg transition-all duration-300 transform hover:scale-105;
  }

  .section-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6;
  }

  .hero-gradient {
    background: linear-gradient(135deg, #dd4627 0%, #33CCFF 100%);
  }
  .Logo gradient {
    background: linear-gradient(135deg, #209ACE 0%, #33CCFF 100%);
  }
  



  .navy-gradient {
    background: linear-gradient(135deg, #0C1B2A 0%, #1a2332 100%);
  }

  .card-hover {
    @apply transition-all duration-300 transform hover:scale-105 hover:shadow-xl;
  }

  .text-gradient {
    background: linear-gradient(135deg, #33CCFF 0%, #209ACE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .menu1{
    justify-content: end;


  }
}




@media (max-width: 768px) {
  .logo-fixed {
    position: absolute;
    top: 20%;   
    left: 50%;  
    transform: translate(-50%, -20%);
  }
  .menu1{
    justify-content: center;


  }

}

@media (max-width: 480px) {
  .logo-fixed {
    position: absolute;
    top: 10%;  
    left: 82%;  
    transform: translate(-80%, -10%);
  }
  .menu1{
    justify-content: center;


  }
}
